{% extends "index.html" %}
{% block content %}
Таблица сотрудников
<table class="table">
  <tr>
    <td>login</td>
    <td>Имя</td>
    <td>Должность</td> <td>Подразделение</td>
    <td>Редактирование</td>
  </tr>
{% for emp in emps %}
<tr>
  <td>{{emp.user.username}}</td>
  <td>{{emp.user.last_name}}  {{emp.user.first_name}} </td>
  <td> {{emp.positionAtWork}} </td> <td>{{emp.department}}</td>
  <td><span class="glyphicon glyphicon-pencil"></span></td>
</tr>
{% endfor %}
</table>
{% endblock %}
