.main-container {
  width: 900px;
  background: #F1F1F1

}

.header {
width: 900px;
background-color:teal;
}

.logo {
float: left;
width: 800px;
}

.login {
float: right;
width: 100px;
}

.menu {
width: 900px;
}

.main-block {
background-color: red
}

.left-menu {

}

.content {

}

.footer {

}
