{% extends "index.html" %}
{% block content %}

{% if user.is_authenticated %}
  {% if is_customer %}
  <h4>
        Поздравляем!
  </h4>
  <p>У Вас есть права заказчика! </p>
  <p>Вы можете <a href=""> регистрировать отправляемые в лабораторию образцы.</a></p>
  <p>Заказывать для отправленных образцов анализы.</p>
  <p>Просматривать очередь Ваших заявок.</p>
  <p>Проматривать результаты выполненных Ваших анализов.</p>
  {% endif %}
  {% if is_super_analyst %}
  <h4>
  Поздравляем!
  </h4>
  <p>У вас есть права менеджера в лаборатории!</p>
  <p>Вы можете просматривать очереди ВСЕХ заявок: проставлять, что образцы получены
    и назначать исполнителей для невыполненных заявок.</p>
  <p>Вы можете просматривать статистику по заявкам</p>
   {% endif %}
  {% if is_analyst %}
  <h4>
  Поздравляем!
  </h4>
  <p>У вас есть права измерителя!</p>
  <p>Регистрировать получение образца</p>
  <p>Вы можете проcматривать и выполнять порученные Вам заявки
  и вводить результаты анализов.</p>
  <p> Также Вы можете просматривать результаты выполненных Вами анализов за последний месяц. </p>
  {% endif %}
  {% if is_admin %}
  <h4>
  Поздравляем!
  </h4>
  <p>У Вас есть права уравлять ролями пользователей</p>
  {% endif %}
{% else %}
  <p>Вы должный войти в систему, чтобы в ней работать.</p>
{% endif %}

{% endblock %}
