{% extends "index.html" %}
{% block content %}

{% if user.is_authenticated %}
  {% if is_customer %}
  <p>У Вас есть права заказчика. Вы можете создавать заявки на выполнение анализов.
  Просматривать состояние их выполнения и получать результаты анализов по своим заявкам. </p>
  <br/>
  {% endif %}
  {% if is_super_analyst %}
  <p>У вас есть права начначать, того - кто будет делать анализ по заявке.
    Также Вы можете просматривать результаты выполненных Вами анализов.</p>
  <br/> {% endif %}
  {% if is_analyst %}
  <p>У вас есть права измерителя Вы можете выполнять порученные Вам заявки
    и вводить результаты анализов.
    Также Вы можете просматривать результаты выполненных Вами анализов.</p>
  <br/> {% endif %}
  {% if is_admin %}
  <p>У Вас есть права уравлять ролями пользователей</p>
  <br/>   {% endif %}
{% else %}
  <p>Вы должный войти в систему, чтобы в ней работать.</p>
{% endif %}

{% endblock %}
