{% extends "index.html" %}
{% block content %}

{% if user.is_authenticated %}
  {% if is_customer %}
  <h4>
        Поздравляем!
  </h4>
  <p>У Вас есть права заказчика! </p>
  Вы можете:
    <ul>
      <li>
        <a href={% url "add_sample" %}>  Добавлять</a>  отправляемые в лабораторию образцы.
      </li>
      <li>
        <a href={% url "samples" %} >Заказывать</a> для отправленных образцов анализы.
      </li>
     <li>
        <a href={% url "orders" %}>Просматривать очередь </a> Ваших заказов.
      </li>
    </ul>
  {% endif %}
  {% if is_super_analyst %}
  <h4>
  Поздравляем!
  </h4>
  <p>У вас есть права менеджера в лаборатории!</p>
  <p><a href={% url "orders" %}>Вы можете просматривать очереди ВСЕХ заявок</a>: назначать исполнителей для невыполненных заявок,
    проставлять - что образцы получены.</p>
  <p>Вы можете просматривать статистику по заявкам</p>
   {% endif %}
  {% if is_analyst %}
  <h4>
  Поздравляем!
  </h4>
  <p>У вас есть права измерителя!</p>
  <p>Регистрировать получение образца</p>
  <p>Вы можете проcматривать и выполнять порученные Вам заявки
  и вводить результаты анализов.</p>
  <p> Также Вы можете просматривать результаты выполненных Вами анализов за последний месяц. </p>
  {% endif %}
  {% if is_admin %}
  <h4>
  Поздравляем!
  </h4>
  <p>У Вас есть права уравлять ролями пользователей</p>
  {% endif %}
{% else %}
  <p>Вы должный войти в систему, чтобы в ней работать.</p>
{% endif %}

{% endblock %}
