{% extends "index.html" %}
{% block content %}

Таблица
{{slu1}}
    <table class="table">
      <tr>
        <td>Код</td>
        <td>Наименование</td>
        <td>Измеритель</td>
        <td>Изменить</span></td>
      </tr>
      {% for elem in analyzetype_list %}
    <tr>
      <td>{{elem.code}}</td>
      <td>{{elem.name}}</td>
      <td>{{elem.defaultanalyst}}</td>
      <td><a href="/a/at_edit/{{elem.id}}"><span class="glyphicon glyphicon-pencil"></a></span></td>
    </tr>
    {% endfor %}
    </table>
{% endblock %}
