{% extends "index.html" %}
{% block left_menu %}
{% endblock %}

{% block content %}
<script type="text/javascript">
  $(document).ready(function() {
    $("#envelope").hide();
    $('#tblo').show();
    $("#btblo").click(function(){
      $('#tblo').hide();
      $("#envelope").show();
    })
})

</script>
{% if error %}

{% else %}
  <div id="envelope" class="envelope">
  <h4 class="title">Добавьте виды анализов для образца {{sample}} и укажите проект</h4>
  <form method="post" action="">
  {% csrf_token %}
  <select multiple name="atype" size="25">
    {% for atype  in atypes %}
    <option value={{atype.pk}} {{atype.selected}}>{{atype}}</option>
    {% endfor %}
  </select>
  <select name=project>
    {% for project in projects %}
      <option value={{project.pk}}>{{project}}</option>
    {% endfor %}
  </select>
  <input type="submit" name="send" value="Добавить" class="send-message">
  </form>
  </div>
{% endif %}

<div id="fade" class="black-overlay"></div>

<div id="tblo">
<h4>Образец {{sample}}</h4>
Заказаны анализы
<table>
  <tr>
    <td>Анализы</td>
    <td>Дата заказа</td>
    <td>Статус</td>
  </tr>
  {% for order in orders %}
  <tr>
    <td>{{order.type}}</td>
    <td>{{order.dateTime}}</td>
    <td>
      {% if sample.status or order.executed %}
      нет
      {% else %}
      редактировать/удалить
      {% endif %}
    </td>
  </tr>
  {% endfor %}
  <tr>
    <td>
{% if error %}
  <h4>{{error}}</h4>
{% else %}
  {% if sample.status  %}
    Образец получен лабораторией. Набор анализов изменению не подлежит
  {% else %}
    <button  id="btblo"> Добавить анализ(ы) </button>
  {% endif %}
{% endif %}
    </td>
  </tr>
</table>
</div>
{% endblock %}
