{% extends "index.html" %}
{% block left_menu %}
<script type="text/javascript">
    $(document).ready( function() {
      $('#neworder').hide();
      $('#filter').show();
      $('#analyst').hide();
      $('#buttonexecute').click(function(event){
        if(!confirm("Подтвердите, что анализ выполнен и данные внесены. ")){
          return false;
        }
      });
    });
</script>
<!--
-->
<div  id="neworder">
<p>
  <form class="filter" action="/a/o/add/" method="get">
    <input type="submit" name="newOrder" value="Новый заказ">
  </form>
</p>
</div>

<div id='filter'>
<form class="filter" action="" method="post" >
  {% csrf_token %}
  <fieldset>
  <legend>Фильтры</legend>
  <select class="select1" name="type">
    <option value="0">Типы анализа(Все)</option>
    {% for elem in types %}
    {% if elem.pk == typeselected %}
      <option value="{{elem.pk}}" selected>{{elem}}</option>
    {% else %}
      <option value="{{elem.pk}}">{{elem}}</option>
    {% endif %}
    {% endfor %}
  </select>
  <br />
  <select class="select1" name="project">
    <option value="0">Проекты(Все)</option>
    {% for elem in projects %}
    {% if elem.pk == projectselected %}
      <option value="{{elem.pk}}" selected>{{elem}}</option>
    {% else %}
      <option value="{{elem.pk}}">{{elem}}</option>
    {% endif %}
    {% endfor %}
  </select>
  <br />
  <select class="select1" name="customer">
    <option value="0">Заказчики(Все)</option>
    {% for elem in customers %}
    {% if elem.pk == customerselected %}
      <option value="{{elem.pk}}" selected>{{elem}}</option>
    {% else %}
      <option value="{{elem.pk}}">{{elem}}</option>
    {% endif %}
    {% endfor %}
  </select>
  <br />
  <label class="form_group">
    <input  type="checkbox" name="executed" value="on" hidden> <br/>
    </label>
  <br />
  <input class="mbutton" type="submit" name="filterOn" value="Отобрать">
  <input class="mbutton" type="submit" name="filterOff" value="Отключить отбор">
</fieldset>
</form>
</div>

<div id="analyst" height="100" >
  <br />
  <h4>Выберите измерителя для заказа <div id="ordername">

  </div></h4>
  <form class="" action="" method="post" >
    {% csrf_token %}
    <input  type="hidden" id='orderpk'  name="orderpk" value="">
    <!--<input  id='ordername' type="text" name="ordername" value="">-->
    <br />
    <select id="selectAnalystpk" name="selectAnalystpk" >
      <option value="0">выберите измерителя</option>
      {% for analyst in analysts %}
        <option value={{analyst.pk}}>{{analyst}}</option>
      {% endfor %}
    </select>
    <br />
    <br />
    <input type="submit" id="setAnalystSubmit" name="setAnalyst" value="Назначить исполнителя">
  </form>
  <br />

</div>
{% endblock %}

{% block content %}


<h4>Таблица заказов</h4>
    <table class="table">
      <tr >
        <td>Дата</td>
        <td>Код/Код образца</td>
        <td>Тип </td>
        <!--<td>Заказчик</td>-->
        <td>Проект</td>
        <td>Исполнитель</td>
        <td>Комментарий</td>
        <td> Выполнен/Нет </td>
        <!--
        <td>Просмотр</td>
        -->
      </tr>
    {% for order in orders %}
    {% if order.executed %}
    <tr class="gree">
    {% else %}
    <tr class="tr1">
    {% endif %}
      <td>{{order.dateTime}}</td>
      <td>{{order.code}} <br/> {{order.codeOfSample}}</td>
      <td> {{order.type}} </td>
      <!--<td>{{order.customer}}</td>-->
      <td>{{order.project}}</td>

      <td>
        <script type="text/javascript">
          function selectAnalyst(event){
            var myId = "#" + event.target.id
            $('#neworder').hide();
            $('#filter').hide();
            //alert('Вы кликнули по кнопке, с id ' + event.target.id);
            $('#orderpk').attr("value",myId.substring(6))
            $(myId).parents('tr').css('background-color','#03dbce');
            $('#analyst').css('background-color','#03dbce');
            $('#analyst').css('bli','#03dbce');
            $('#setAnalystSubmit').css('text-align','center');
            $('#analyst').show();
          }
        </script>
        {% if order.analyst %}
          {{order.analyst}}
        {% else %}
          <button id="order{{order.pk}}" onclick="selectAnalyst(event)"
          title="Выбрать измерителя">
            <span class="glyphicon glyphicon-plus"></span>
          </button>
        {% endif %}
      </td>
      <td>{{order.comment}}</td>
      <td>
        {% if order.executed %}
          <span class="glyphicon glyphicon-ok-circle"></span>
          {{order.executedDateTime}}
        {% else %}
          {% if  order.analyst  %}
            <form id="fexec{{order.pk}}" action="" method="post">
              {% csrf_token %}
              <input type="hidden" name="orderpk" value={{order.pk}}>
              <input type="submit" id="buttonexecute" name="orderexecute" value="Отметить выполнение">
            </form>
          {% else %}

          {% endif %}
        {% endif %}
      </td>
      <!--
      <td>
        <a href={% url "order" %}{{order.pk}}>
          <span class="glyphicon glyphicon-search"></span>
        </a>
      </td>
      -->
    </tr>
    {% endfor %}
    </table>
    {% if orders.paginator.num_pages > 1 %}

    <div id="pagination">
      {% if orders.has_previous %}
        <div id="previous-page">
          <a href={% url "orders"%}{{ orders.previous_page_number }} >
          &lt</a>
        </div>
      {% endif %}
    {% if orders.has_next %}
      <div id="next-page">
        <a href={% url "orders" %}{{orders.next_page_number}}>&gt</a>
      </div>
    {% endif %}
    <div id="num-pages">
    {% for pn in orders.paginator.page_range  %}
      {% if not forloop.first %}
        &nbsp;&nbsp;|&nbsp;&nbsp;
      {% endif %}
      {% if orders.number != pn %}
        <a href={% url "orders" %}{{pn}}>
      {% endif %}
      {{pn}}
      {% if orders.number != pn %}
        </a>
      {% endif %}
    {% endfor %}

        </div>
      </div>
    {% endif %}
{% endblock %}
