{% extends "index.html" %}
{% block left_menu %}
<form class="" action="" method="post">
  {% csrf_token %}
  <select class="select1" name="type">
    <option value="0">Типы анализа(Все)</option>
    {% for elem in types %}
    {% if elem.name == typeselected %}
      <option value="{{elem}}" selected>{{elem}}</option>
    {% else %}
      <option value="{{elem}}">{{elem}}</option>
    {% endif %}
    {% endfor %}
  </select>
  <br />
  <select class="select1" name="project">
    <option value="0">Проекты(Все)</option>
    {% for elem in projects %}
    {% if elem.name == projectselected %}
      <option value="{{elem}}" selected>{{elem}}</option>
    {% else %}
      <option value="{{elem}}">{{elem}}</option>
    {% endif %}
    {% endfor %}
  </select>
  <br />
  <select class="select1" name="customer">
    <option value="0">Заказчики(Все)</option>
    {% for elem in customers %}
    {% if elem.person.lastName == customerselected %}
      <option value="{{elem}}" selected>{{elem}}</option>
    {% else %}
      <option value="{{elem}}">{{elem}}</option>
    {% endif %}
    {% endfor %}
  </select>
  <br />
  <label>
    <input type="checkbox" name="executed" value="on"> Выполнен
    </label>
  <br />
  <input type="submit" name="but1" value="Отобрать">
  <input type="submit" name="but2" value="Отключить отбор">
</form>
{% endblock %}

{% block content %}


Таблица
    <table class="table">
    {% for order in orders %}
    <tr>
      <td>{{order.dateTime}}</td>
      <td>{{order.code}}  {{orders.codeOfSample}}</td>
      <td> {{order.type}} </td>
      <td>{{order.customer}}</td>
      <td>{{order.project}}</td>
      <td>{{order.comment}}</td>
      <td>{{order.executed}}</td>
      <td><span class="glyphicon glyphicon-pencil"></span></td>
    </tr>
    {% endfor %}
    </table>
    {% if orders.paginator.num_pages > 1 %}

    <div id="pagination">
      {% if orders.has_previous %}
        <div id="previous-page">
          <a href={% url "orders"%}{{ orders.previous_page_number }} >
          &lt</a>
        </div>
      {% endif %}
    {% if orders.has_next %}
      <div id="next-page">
        <a href={% url "orders" %}{{orders.next_page_number}}>&gt</a>
      </div>
    {% endif %}
    </div>
    <div id="num-pages">
    {% for pn in orders.paginator.page_range  %}
      {% if not forloop.first %}
        &nbsp;&nbsp;|&nbsp;&nbsp;
      {% endif %}
      {% if orders.number != pn %}
        <a href={% url "orders" %}{{pn}}>
      {% endif %}
      {{pn}}
      {% if orders.number != pn %}
        </a>
      {% endif %}
    {% endfor %}

        </div>
    {% endif %}
{% endblock %}
