{% extends "index.html" %}
{% block left_menu %}
<style >
  select{
    width:100%;
  }
</style>
Отчеты:
<form class="" action="" method="post">
  {% csrf_token %}
  <select class="" name="reporttype">
    <option value="0">Выберите тип анализа</option>
    {% for report in reporttypes %}
        <option value="{{report.pk}}" {% if report.selected %}selected{% endif %}>{{report.name}}</option>
    {% endfor %}
  </select>
  <br />
  Период отчета:
  <select class="" name="reportdates">
    <option value="0">Выберите месяц</option>
    {% for month in months %}
        <option value="{{month.pk}}" {% if month.selected %}selected{% endif %}>{{month.name}}</option>
    {% endfor %}
  </select>
  <br />
  <input type="submit" name="formsubmit" value="Сформировать">
</form>

{% endblock %}

{% block content %}
<h3>Отчет <br />
  {{reportName}}
</h3>

<table>
<tr>
{% for head in table.headers %}
<td> {{head.name}}</td>
{% endfor %}
</tr>
{% for row in table.rows %}
<tr>
  {% for cell  in row %}
    <td>{% if cell.type %}<a href="{{cell.type}}">{{cell.value}}</a> {%else%}{{cell.value}} {% endif %}</td>
  {% endfor %}
</tr>
{% endfor %}
<tr>

{% for tail in table.tails %}
<td> {{table.tails.name}}</td>
{% endfor %}
</tr>
</table>
{% endblock %}
