{% extends "index.html" %}
{% block left_menu %}
<!--
<div width = 90 >
  <form  action="" method="post">
    <select multiple  name="types" style="width: 90%">
      <option disabled value=0>Виды анализов</option>
      {% for type in atypes %}
        <option value={{type.id}}>{{type}}</option>
      {% endfor %}
    </select>
    <input type="submit" name="" value="Выбрать">
  </form>
</div>
-->
<br />
<form action={% url "add_sample"%}>
  {% csrf_token %}
  <input type="submit" name="" value="Добавить новый образец">
</form>
{% endblock %}

{% block content %}
<script type="text/javascript">
  $(document).ready(function() {
    $('#fform1').hide();
})
</script>
<!--
<div id="win">
   <div class="overlay"></div>
      <div class="visible">
        <h2>Заголовок окна</h2>
          <div class="content">
            <p>Содержание</p>
            <p>Модальное окно фиксированной ширины</p>
          </div>
        <button type="button" onClick="$('#win').hide();">закрыть</button>
    </div>
</div>
-->
<div id="tblo">
<h4>Таблица образцов</h4>
<table>
  <tr>
    <td>Код образца</td>
    <td>Виды анализов</td>
    {% if role.superAnalyst %}
      <td>Исполнитель</td>
    {% endif %}
    {% if role.customer %}
      <td>Добавить метод</td>
    {% endif %}
    {% if role.analyst %}
      <td>Получен</td>
    {% endif %}

  </tr>
  {% for sample in samples %}
  <tr>
    <td  title={{sample.comment}}>
      {% if role.customer and sample.fullStatus < 3 %}
        <!--<a href={% url "list_types" %}{{sample.pk}} title={{sample.comment}}>{{sample}}</a></td>-->
         {{sample}}
      {% else %}
        <div title={{sample.comment}}>
          {{sample}}
        </div>
      {% endif %}
      </td>
    <td>
      {% for ats in sample.atype  %}
        {{ats.type.code}}:{{ats.analyst}},
      {% endfor %}
      {% if sample.fullStatus >= 0 or sample.fullStatus < 3  %}
        <a href={% url "list_types" %}{{sample.pk}} title="Добавить метод(ы)">
          , <span class="glyphicon glyphicon-plus"></span>
        </a>
      {% endif %}
    </td>
      {% if role.superAnalyst %}
        {% if sample.fullStatus < 1  %}
          <td></td>
        {% else %}
          {% if sample.fullStatus < 2 %}
            <script type="text/javascript">
              $(document).ready(function() {
                $("#s{{sample.pk}}").click(function(){
                    $("#dsample").html("{{sample}}");
                    $("#spk").attr("value","{{sample.pk}}");
                    $('#tblo').hide()
                    $('#fform1').show();
                })
            })
              </script>
              <td><button type="button" id="s{{sample.pk}}" name="button"
                title="Назначить исполнителя для ВСЕХ неназначенных методов!">
                <span class="glyphicon glyphicon-plus"  ></span>
                </button></td>
          {% else %}
              <td></td>
          {% endif %}
        {% endif %}
      {% endif %}
      {% if role.customer %}
        {% if sample.fullStatus < 3  %}
          <td><a href={% url "list_types" %}{{sample.pk}} >
            <span class="glyphicon glyphicon-plus" title="Добавить метод(ы)"></span>
            </td>
        {% else %}
          <td></td>
        {% endif %}
      {% endif %}
      {% if sample.status %}
            <td>Получен</td>
      {% else %}
        {% if role.analyst or role.superAnalyst %}
          <td>
            <form class="" action="" method="post">
              {% csrf_token %}
              <input type="hidden" name="samplepk" value={{sample.pk}}>
              <input type="submit" name="setstatus" value="Отметить получение" title="Внимание! После получения нельзя добавлять методы!">
            </form>
          </td>
          {% else %}
            <td>Не получен</td>
        {% endif %}
      {% endif %}
  {% endfor %}

</table>
{% if samples.paginator.num_pages > 1 %}

<div id="pagination">
  {% if samples.has_previous %}
    <div id="previous-page">
      <a href={% url "samples"%}{{ samples.previous_page_number }} >
      &lt</a>
    </div>
  {% endif %}
{% if samples.has_next %}
  <div id="next-page">
    <a href={% url "samples" %}{{samples.next_page_number}}>&gt</a>
  </div>
{% endif %}
</div>
<div id="num-pages">
{% for pn in samples.paginator.page_range  %}
  {% if not forloop.first %}
    &nbsp;&nbsp;|&nbsp;&nbsp;
  {% endif %}
  {% if samples.number != pn %}
    <a href={% url "samples" %}{{pn}}>
  {% endif %}
  {{pn}}
  {% if samples.number != pn %}
    </a>
  {% endif %}
{% endfor %}

    </div>
{% endif %}


</div>

<script type="text/javascript">
  $(document).ready(function() {
    $("#submit1").click(function(){
        $('#fform1').hide();
        $('#tblo').show()
    })
})
</script>
<div id="fform1">
<br />
<h4> Назначить одного исполнителя для испытания образца <div id="dsample">

</div> (для всех методов)</h4>
<form id="analyst1" class="analyst1" action="" method="post">
  {% csrf_token %}
  <input type="text" id="spk" name="samplepk" value="">
  <select class="asel1" name="analystpk">
    <option value="0"}>---------------</option>
    {% for customer in customers %}
      <option value={{customer.pk}}>{{customer}}</option>
    {% endfor %}
  </select>
  <input type="submit" id="submit1" name="submit" value="Назначить">
</form>
</div>
{% endblock %}
