{% extends "index.html" %}
{% block left_menu %}
<!--
<div width = 90 >
  <form  action="" method="post">
    <select multiple  name="types" style="width: 90%">
      <option disabled value=0>Виды анализов</option>
      {% for type in atypes %}
        <option value={{type.id}}>{{type}}</option>
      {% endfor %}
    </select>
    <input type="submit" name="" value="Выбрать">
  </form>
</div>
-->
{% endblock %}

{% block content %}
<div id="win">
   <div class="overlay"></div>
      <div class="visible">
        <h2>Заголовок окна</h2>
          <div class="content">
            <p>Содержание</p>
            <p>Модальное окно фиксированной ширины</p>
          </div>
        <button type="button" onClick="$('#win').hide();">закрыть</button>
    </div>
</div>
<h4>Таблица образцов</h4>
<table>
  <tr>
    <td>Код образца</td>
    <td>Виды анализов</td>
    {% if role.customer %}
      <td>Ред.</td>
    {% endif %}
    {% if role.superAnalyst %}
      <td>Исполнитель</td>
    {% endif %}
    {% if role.analyst %}
      <td>Получен</td>
    {% endif %}

  </tr>
  {% for sample in samples %}
  <tr>
    <td>{{sample}}</td>
    <td>
      {% for ats in sample.atype  %}
        {{ats.type.code}}:{{ats.analyst}},
      {% endfor %}
      {% if role.customer %}
      <td><a target="_blank" href={% url "list_types" %}{{sample.pk}} >+</td>
      {% endif %}
      {% if role.superAnalyst %}
      <script type="text/javascript">
        $(document).ready(function() {
          $("#s{{sample.pk}}").click(function(){
              alert("Hello World! {{sample.pk}}");
              $("#dsample").html("{{sample}}");
              $("#spk").attr("value","{{sample.pk}}")

          })
      })
      </script>
      <td><button type="button" id="s{{sample.pk}}" name="button">+</button></td>
      {% endif %}
      {% if role.analyst %}
      <td><a target="_blank" href={% url "list_types" %}{{sample.pk}} >+</td>
      {% endif %}
  {% endfor %}

</table>
<br />
<script type="text/javascript">
  $(document).ready(function() {
    $("#submit1").click(function(){
        alert("Hello World!")
    })
})
</script>
<h4> Назначить одного исполнителя для испытания образца <div id="dsample">

</div> (для всех методов)</h4>
<form id="analyst1" class="analyst1" action="" method="post">
  {% csrf_token %}
  <input type="text" id="spk" name="order1" value="">
  <select class="asel1" name="analyst">
    <option value="0"}>---------------</option>
    {% for customer in customers %}
      <option value={{customer.pk}}>{{customer}}</option>
    {% endfor %}
  </select>
  <input type="submit" id="submit1" name="submit" value="Назначить">
</form>
{% endblock %}
