{% extends "index.html" %}
{% block left_menu %}
<!--
<div width = 90 >
  <form  action="" method="post">
    <select multiple  name="types" style="width: 90%">
      <option disabled value=0>Виды анализов</option>
      {% for type in atypes %}
        <option value={{type.id}}>{{type}}</option>
      {% endfor %}
    </select>
    <input type="submit" name="" value="Выбрать">
  </form>
</div>
-->
{% endblock %}

{% block content %}
<div id="win">
   <div class="overlay"></div>
      <div class="visible">
        <h2>Заголовок окна</h2>
          <div class="content">
            <p>Содержание</p>
            <p>Модальное окно фиксированной ширины</p>
          </div>
        <button type="button" onClick="$('#win').hide();">закрыть</button>
    </div>
</div>
<h4>Таблица образцов</h4>
<table>
  <tr>
    <td>Код образца</td>
    <td>Виды анализов</td>
    {% if role.customer %}
      <td>Ред.</td>
    {% endif %}
    {% if role.superAnalyst %}
      <td>Исполнитель</td>
    {% endif %}
    {% if role.analyst %}
      <td>Получен</td>
    {% endif %}

  </tr>
  {% for sample in samples %}
  <tr>
    <td>{{sample}}</td>
    <td>
      {% for ats in sample.atype  %}
        {{ats}},
      {% endfor %}
      {% if role.customer %}
      <td><a target="_blank" href={% url "list_types" %}{{sample.pk}} >+</td>
      {% endif %}
      {% if role.superAnalyst %}
      <td><a target="_blank" href={% url "list_types" %}{{sample.pk}} >+</td>
      {% endif %}
      {% if role.analyst %}
      <td><a target="_blank" href={% url "list_types" %}{{sample.pk}} >+</td>
      {% endif %}
  {% endfor %}

</table>
{% endblock %}
